doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Work+Sans')
  body
    #container
      #header
        h1 Workout Progress
      #content
        a#rightArrow(href="#") >
        a#leftArrow(href="#") <
        block content
